
body{
  background-color: #555;
}
.container{
  margin-bottom: 16px;
}

*{
  box-sizing: border-box;
}

  #myCarousel{
    margin-top: 50px;
  }

  #info{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: white;
  }

  #info h2{
    color: #555;
    display: inline-block;
    margin-left: 10px;
  }
  .column {
    position: relative;
    float: left;
    width: 33%;
  }

  .column img {
    width: 100%;
  }
  .row {
    margin: 8px -16px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row,
  .row > .column {
    padding: 8px;
  }

  .content{
    background-color: white;
    padding: 10px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

   .centered {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

   .btn {
    display: flex;
    justify-content: center;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .column .btn:hover {
    background-color: black;
  }
